.footer {
    background-color: var(--negroFooter);
    color: var(--textoBlanco);
    padding: 60px 20px 20px 20px;
}

.footerContenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.footer a, .footer p, .footer h3, .footer summary {
    color: var(--textoBlanco);
}

.footerColumnas summary, .footerColumnas h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: pointer;
}

.footerColumnas ul {
    list-style: none;
    padding-left: 0;
}

.footerColumnas ul li {
    margin-bottom: 12px;
}

.footerColumnas a:hover {
    color: var(--azul);
    text-decoration: underline;
}

.footerColumnas i {
    margin-right: 8px;
    color: #ffffff;
}

.newsletterForm {
    display: flex;
    flex-direction: column;
}

.newsletterForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    margin-bottom: 10px;
    background-color: #333;
    color: var(--textoBlanco);
}

.newsletterForm button {
    color: var(--textoBlanco);
    background-color: var(--naranja);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.newsletterForm button:hover {
    background-color: var(--azul);
}

.footerRedes {
    grid-column: span 1; /* Ocupa una columna */
}

.columnaSocial i {
  font-size: 24px;
  margin-right: 15px;
  display: inline-block;
  color: #ffffff;
}

.columnaSocial i:hover {
  color: var(--azul);
}

.footerRedes a {
    font-size: 24px;
    margin-right: 15px;
}

.copyright {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--borderColor);
}

.copyright img {
    max-width: 150px;
    margin-bottom: 10px;
}