.nuestrosClientesHero img {
    width: 100%;
    margin-top: -2%;
    margin-bottom: -4%;
}

.mobileImage {
    display: none; 
}

.desktopImage {
    display: block;
}

@media (max-width: 768px) {
    .mobileImage {
        display: block;
    }

    .desktopImage {
        display: none;
    }
}