section {
    max-width: 1920px;
    width: 100%;
}

img {
    object-fit: cover;
}

#nosotros-header img, #nosotros-empresas-alto-nivel img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#nosotros-header figcaption {
    z-index: 2;
    max-width: 669px;
    display: flex;
    gap: 24px;
    flex-direction: column;

}
.BGBlanco {
    background: white;
}
#nosotros-acelera-impulsa {
    display: flex;
    padding: 12px 0px 24px;
    gap: 12px;
}

#nosotros-acelera-impulsa img {
    width: 100%;
}

#nosotros-evolucion-360 figure {
    display: flex;
    gap: 24px 53px;
    width: 100%;
    justify-content: space-between;
}

#nosotros-evolucion-360 figcaption {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#nosotros-diferente > :nth-child(2) {
    display: flex;
    gap: 18px 14px;
}

#nosotros-aliado360 figure {
    display: flex;
    align-items: center;
    gap: 26px;
    max-width: 1294px;
}

#nosotros-empresas-alto-nivel figure, #nosotros-empresas-alto-nivel img{
    position: relative;
}

#nosotros-empresas-alto-nivel figcaption {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nosotros-acelera-impulsa figcaption {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#nosotros-diferente > :nth-child(2) div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 27px 13px 11px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
}
#nosotros-acelera-impulsa h2, #nosotros-evolucion-360 h2 {
    margin-bottom: 24px;
} 
#nosotros-aliado360 figcaption {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#nosotros-cierre{
    width: auto;
}

h1, h2, h3, h4, h5, h6, strong{
    font-weight: 700;
    line-height: 1.2em;
}

h3{
    font-size: 18px;
}

p, strong {
    font-size: 20px;
    line-height: 1.4em;
}

#nosotros-diferente h2, #nosotros-diferente > :nth-child(1) p {
    text-align: center;
}

#nosotros-diferente h2, #nosotros-diferente > :nth-child(1) p{
    margin-bottom: 24px;
}

#nosotros-cierre h2, #nosotros-empresas-alto-nivel h2 {
        text-align: center;
}

#nosotros-diferente span.BGAzul {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    position: unset;
}

#nosotros-diferente span.BGAzul::after {
    content: '';
    height: 2px;
    background-color: var(--azul);
    position: absolute;
    z-index: 0;
    left: 63px;
    right: 13px;
}
#nosotros-diferente span.BGAzul::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--azul);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: 13px;
}

#nosotros-empresas-alto-nivel img {
        filter: brightness(0.65);
    }
#nosotros-acelera-impulsa h2::after, #nosotros-evolucion-360 h2::after {
    content: '';
    width: 282px;
    height: 12px;
    background-color: var(--azul);
    display: block;
    position: absolute;
    bottom: -30px;
}

@media (min-width: 1024px) {
    #nosotros-diferente > :nth-child(2) div {
        flex: 1;
    }
}

@media (max-width: 1024px) {
    #nosotros-diferente > :nth-child(2) {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    #nosotros-cierre {
        margin: 50px 50px 20px;
    }
    #nosotros-diferente{
        padding: 0px 50px;
    }
    #nosotros-aliado360 {
        margin: 68px 0px;
    }
    #nosotros-evolucion-360 figcaption {
        max-width: 509px;
        padding-left: 48px;
    }
    #nosotros-empresas-alto-nivel figcaption {
        max-width: 559px;
        gap: 30px;
        left: 72px;
    }
    #nosotros-aliado360 figcaption {
        max-width: 559px;
    }
    #nosotros-evolucion-360 img {
        min-width: 354px;
        max-width: 827px;
        width: 100%;
    }
    #nosotros-aliado360 img {
        min-width: 350px;
        width: auto;
        max-width: 709px;
    }
    #nosotros-header figcaption {
        position: absolute;
        top: 62px;
        padding: 24px 50px;
    }
    #nosotros-header figure {
        display: flex;
        flex-wrap: wrap;
    }
    #nosotros-acelera-impulsa figcaption {
        padding: 24px 48px 12px;
    }
    h1, h2{
        font-size: 48px;
    }
    #nosotros-header img {
        height: calc(100dvh - 80px);
    }
    #nosotros-evolucion-360 {
        margin-bottom: 88px;
    }
    #nosotros-evolucion-360 h2 {
        width: 311px;
    }
    #nosotros-empresas-alto-nivel h2{
        margin-bottom: 39px;
    }
}

@media (max-width: 768px) {
    #nosotros-empresas-alto-nivel figcaption{
        padding: 24px;
        gap: 15px;
    }
    h2 {
        font-size: 32px;
    }
     p, strong {
        font-size: 16px;
    }

    #nosotros-evolucion-360 img, #nosotros-acelera-impulsa img, #nosotros-acelera-impulsa img, #nosotros-aliado360 img {
        width: 100%;
        height: 226px;
    }
    #nosotros-empresas-alto-nivel img {
        height: 384px;
    }
    #nosotros-empresas-alto-nivel h2{
        margin-bottom: 10px;
    }
    #nosotros-evolucion-360 {
        margin-bottom: 18px;
    }
    h1, h2{
        font-size: 32px;
        text-align: center;
    }
    #nosotros-aliado360 figcaption{
        padding: 0px 24px 24px;
    }
    #nosotros-cierre {
        margin: 24px;
    }
    #nosotros-diferente{
        padding: 24px;
    }
    #nosotros-aliado360{
        max-width: 100%;
        width: auto;
    }
    #nosotros-evolucion-360 figcaption{
        padding: 0px 24px 24px;
    }
    #nosotros-acelera-impulsa figcaption {
        padding: 24px;
    }
    #nosotros-acelera-impulsa, #nosotros-aliado360 figure{
        flex-wrap: wrap;
    }
    #nosotros-evolucion-360 figure{
        flex-wrap: wrap-reverse;
    }
    #nosotros-header figure {
        display: flex;
        flex-wrap: wrap;
    }
    #nosotros-aliado360 img {
        max-width: 100%;
    }
    #nosotros-header figcaption{
        padding: 16px 24px;
    }
}